.upload-image-dashboard {
    font-size: 16px;    
    background-color: #DFF6FF;   
    min-height: 90vh;
    display: flex;
    width: 100%;
}

.upload-image-container {
    width: 100%;    
}

.upload-image-card{
    background-color: #47B5FF33;
    width: 40%;
    margin-left: 20%;
    padding: 20px;
    margin-top: 50px;
}

.upload-img-heading{
    text-align: center;
    margin-bottom: 40px;
    font-weight: bold;
}

.image-wrapper{
    display: block;
    background-color: #D9D9D9;
    /* width: 50%; */
    margin: 0 auto;
    border: none;
    outline: none;
    margin-bottom: 20px;
    padding: 20px;
}

.upload-img-save-btn{
    display: block;
    margin: 0 auto;
    background-color: #06283D;
    color: #47B5FF;
    padding: 7px;
    border-radius: 10px;
    border: none;
}